name: 公告

on:
  watch:
    types: started
#  schedule:
#    - cron: 30 23 * * *

env:
  REPO_URL: https://github.com/coolsnowwolf/lede
  REPO_BRANCH: master
  SSH_ACTIONS: false
  UPLOAD_BIN_DIR: false
  UPLOAD_FIRMWARE: true
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:

    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        name: ${{ env.DATE }} 🚀 公告
        allowUpdates: true
        tag: 公告
        commit: master
        token: ${{ secrets.RELEASES_TOKEN }}
        body: |
          🚀 如需添加额外的插件或依赖请到http://bin000000.top:9666 自取。
          4月13日：（这几天固件出现bug给基友们带来不便敬请谅解）由于开发版集成插件较多，导致固件大小超出默认值，刷机后无限重启等问题。有两个方案，第一删减插件，后期大雕可能会加入新的插件或者我会加入新的插件还得删减，就失去了开发版的意义，所以果断采取第二方案，增加系统默认空间，但是有弊端，由于之前使用docker的机油，已经把剩余空间全部格式化分给docker分区了，所以想要增加系统空间，就要征用一部分docker空间，从而破坏docker分区，docker数据全部丢失。所以使用docker的机油本次刷机后要重新建立docker分区，不使用docker的机油基本无影响，直接web升级即可。后期我发布的所有固件都会按照增加后的这个分区大小持续发布，所以刷了我的固件的要刷别人的固件可能又会导致docker分区改变，同理从别人的固件刷我的固件也会导致docker分区改变。是否使用自行决定。另外为了方便我的稳定版和开发版之间互刷，稳定版也增加了系统默认分区，和开发版保持一致。
